# Name: CMP BIA

# Run Image segmentations and registrations

# Author: Jiri Borovec
# Date: 20131122
# Vesion: 0.1
# Requires: ImageJ 1.48c

Plugins>Segmentation, "jSLIC superpixels 2D", sc.fiji.CMP_BIA.plugins.jSLIC_superpixels_
#Plugins>Segmentation, "Automatic segmentation", sc.fiji.CMP_BIA.plugins.Image_Segmentation_
#Plugins>Registration, "ASSAR", sc.fiji.CMP_BIA.plugins.ASSAR